---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="咪路的不互動社群媒體">
  <Fragment slot="meta">
		<meta name="generator" content={Astro.generator} />
  </Fragment>

  <Fragment slot="link">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </Fragment>


  <h1>Hello world</h1>
</BaseLayout>
