---
const { title } = Astro.props
---

<html lang="zh-TW">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <slot name="meta" />
    <slot name="link" />
    <title>{title}</title>
  </head>

  <body>
    <slot name="header" />
    <slot name="nav" />
    <slot name="sidebar" />

    <slot />

    <slot name="footer" />
  </body>
</html>
