---
import { IconHome, IconCoffee } from '@tabler/icons-react'
import Navbar from '../components/Navbar.tsx'
import Sidebar from '../components/Sidebar.astro'
import BaseLayout from '../layouts/BaseLayout.astro'

const navItem = [
  { label: '首頁', to: '/', icon: IconHome },
  { label: 'Buy Me A Coffee', to: '/', icon: IconCoffee },
]

---

<BaseLayout title="咪路的不互動社群媒體">
  <Fragment slot="meta">
    <meta name="generator" content={Astro.generator} />
  </Fragment>

  <Fragment slot="link">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </Fragment>

  <div class="flex justify-center w-[var(--max-width,1190px)] mx-auto h-screen">
    <Navbar items={navItem} />

    <main class="flex-1">
      <div class="p-4 border-b border-gray-200">
        <slot name="title" />
      </div>

      <div class="p-4 border-b border-gray-200">
        <slot name="controller" />
      </div>

      <div class="p-4 border-b border-gray-200">
        <slot />
      </div>

      <slot name="footer" />
    </main>

    <Sidebar />
  </div>
</BaseLayout>
