---
import { IconHome, IconCoffee } from '@tabler/icons-react'
import Navbar from '../components/Navbar.tsx'
import BaseLayout from '../layouts/BaseLayout.astro'

const navItem = [
  { label: '首頁', to: '/', icon: IconHome },
  { label: 'Buy Me A Coffee', to: '/', icon: IconCoffee },
]

---

<BaseLayout title="咪路的不互動社群媒體">
  <Fragment slot="meta">
    <meta name="generator" content={Astro.generator} />
  </Fragment>

  <Fragment slot="link">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </Fragment>

  <div class="flex justify-center w-[var(--max-width,1190px)] mx-auto">
    <Navbar items={navItem} />

    <main class="flex-1">
      <slot />
    </main>
  </div>
</BaseLayout>
